@inherits ChangePasswordBase
@using BlazorStrap.Extensions.FluentValidation
@using PlayTogether.Client.ViewModels

<BSRow>
    <BSCol Class="col-md-6">
        <BSForm Model="@ChangePasswordViewModel" OnValidSubmit="UpdatePassword" ValidateOnInit="false">
            <BSFormGroup>
                <h2>Change Password</h2>
                <hr />
            </BSFormGroup>
            <FluentValidator TValidator="ChangePasswordValidator" />
            <BSFormGroup>
                <BSLabel For="@ChangePasswordViewModel.OldPassword">Current Password</BSLabel>
                <BSInput InputType="InputType.Password" @bind-Value="@ChangePasswordViewModel.OldPassword" ValidateOnChange="true" />
                <BSFormFeedback For="@(() => ChangePasswordViewModel.OldPassword)" />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel For="@ChangePasswordViewModel.NewPassword">New Password</BSLabel>
                <BSInput InputType="InputType.Password" @bind-Value="@ChangePasswordViewModel.NewPassword" ValidateOnChange="true" />
                <BSFormFeedback For="@(() => ChangePasswordViewModel.NewPassword)" />
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel For="@ChangePasswordViewModel.ConfirmPassword">Confirm New Password</BSLabel>
                <BSInput InputType="InputType.Password" @bind-Value="@ChangePasswordViewModel.ConfirmPassword" ValidateOnChange="true" />
                <BSFormFeedback For="@(() => ChangePasswordViewModel.ConfirmPassword)" />
            </BSFormGroup>
            <BSFormGroup>
                <BSButton ButtonType="ButtonType.Submit" Class="btn btn-info btn-block btn-primary">Update password</BSButton>
            </BSFormGroup>
        </BSForm>
    </BSCol>
</BSRow>