@page "/gamerSearch/"
@inherits GamerSearchBase
@using PlayTogether.Client.ViewModels
@using PlayTogether.Client.CustomControls;

@if (FriendUserIds != null && ActiveSentFriendRequestIds != null && ActiveReceivedFriendRequestIds != null && GamingPlatforms != null && GameGenres != null && Games != null)
{
    <BSContainer>
        <BSRow>
            <BSCol>
                <h2>Search For Gamers</h2>
                <BSRow>
                    <BSCol style="width: 100%; padding-right: unset;">
                        <input id="gamerSearchBar" type="search" class="form-control" @bind="@GamerSearchViewModel.SearchCriteria" @bind:event="oninput" @onchange="OnSearchCriteriaChanged" placeholder="Enter Gamer Search Criteria..." />
                    </BSCol>
                    <BSCol style="max-width: 50px; padding: unset; margin-right: 15px;">
                        <span style="text-align: right; display: block; width: 100%;">
                            <BSButton ButtonType="ButtonType.Button" Color="Color.Light" Class="btn-rounded" OnClick="(() => { IsFilterOpen = !IsFilterOpen; StateHasChanged(); })"><i class="fas fa-filter"></i></BSButton>
                        </span>
                    </BSCol>
                </BSRow>
                <BSCollapse IsOpen="@IsFilterOpen">
                    <div class="accordion" style="margin-top: 15px;">
                        <BSCollapseItem>
                            <BSCard CardType="CardType.Card">
                                <BSCard CardType="CardType.Body" style="padding: 0.75rem 1.25rem;">
                                    <BSCollapseToggle style="width: 100%; border: none; outline: none; box-shadow: none;">
                                        <BSRow>
                                            <BSCol style="width: 100%;"><span style="text-align: left; display: block; width: 100%;">Favorite Gaming Platforms</span></BSCol>
                                            <BSCol style="max-width: 10px; padding: unset; margin-right: 15px;">
                                                <span style="text-align: right; display: block; width: 100%;"><i class="fas @(context ?  "fa-caret-up" : "fa-caret-down") "></i></span>
                                            </BSCol>
                                        </BSRow>
                                    </BSCollapseToggle>
                                </BSCard>
                                <BSCollapse>
                                    <BSCard CardType="CardType.Body" style="padding: 0rem 1.25rem 0.75rem;">
                                        <BSCol Class="col-12">
                                            <BSRow class="col-12 row">
                                                <CheckedListBox Data="@GamingPlatforms.OrderBy(x => x.Name)" TextField="@((item) => item.Name)" ValueField="@((item) => item.Id)" SelectedValues="@FilterGamingPlatformIds" />
                                            </BSRow>
                                        </BSCol>
                                    </BSCard>
                                </BSCollapse>
                            </BSCard>
                        </BSCollapseItem>
                        <BSCollapseItem>
                            <BSCard CardType="CardType.Card">
                                <BSCard CardType="CardType.Body" style="padding: 0.75rem 1.25rem;">
                                    <BSCollapseToggle style="width: 100%; border: none; outline: none; box-shadow: none;">
                                        <BSRow>
                                            <BSCol style="width: 100%;"><span style="text-align: left; display: block; width: 100%;">Favorite Game Genres</span></BSCol>
                                            <BSCol style="max-width: 10px; padding: unset; margin-right: 15px;">
                                                <span style="text-align: right; display: block; width: 100%;"><i class="fas @(context ?  "fa-caret-up" : "fa-caret-down") "></i></span>
                                            </BSCol>
                                        </BSRow>
                                    </BSCollapseToggle>
                                </BSCard>
                                <BSCollapse>
                                    <BSCard CardType="CardType.Body" style="padding: 0rem 1.25rem 0.75rem;">
                                        <BSCol Class="col-12">
                                            <BSRow class="col-12 row">
                                                <CheckedListBox Data="@GameGenres.OrderBy(x => x.Name)" TextField="@((item) => item.Name)" ValueField="@((item) => item.Id)" SelectedValues="@FilterGameGenreIds" />
                                            </BSRow>
                                        </BSCol>
                                    </BSCard>
                                </BSCollapse>
                            </BSCard>
                        </BSCollapseItem>
                        <BSCollapseItem>
                            <BSCard CardType="CardType.Card">
                                <BSCard CardType="CardType.Body" style="padding: 0.75rem 1.25rem;">
                                    <BSCollapseToggle style="width: 100%; border: none; outline: none; box-shadow: none;">
                                        <BSRow>
                                            <BSCol style="width: 100%;"><span style="text-align: left; display: block; width: 100%;">Favorite Games</span></BSCol>
                                            <BSCol style="max-width: 10px; padding: unset; margin-right: 15px;">
                                                <span style="text-align: right; display: block; width: 100%;"><i class="fas @(context ?  "fa-caret-up" : "fa-caret-down") "></i></span>
                                            </BSCol>
                                        </BSRow>
                                    </BSCollapseToggle>
                                </BSCard>
                                <BSCollapse>
                                    <BSCard CardType="CardType.Body" style="padding: 0rem 1.25rem 0.75rem;">
                                        <BSCol Class="col-12">
                                            <BSRow class="col-12 row">
                                                <CheckedListBox Data="@Games.OrderBy(x => x.Name)" TextField="@((item) => item.Name)" ValueField="@((item) => item.Id)" SelectedValues="@FilterGameIds" />
                                            </BSRow>
                                        </BSCol>
                                    </BSCard>
                                </BSCollapse>
                            </BSCard>
                        </BSCollapseItem>
                    </div>
                    <span style="text-align: right; display: block; width: 100%;">
                        <BSButton ButtonType="ButtonType.Button" Color="Color.Light" Class="btn btn-secondary mt-3 btn-rounded waves-effect w-md waves-light" style="margin-right: 5px;" OnClick="@(() =>  ResetFilter())"><i class="fas fa-redo" style="margin-right: 5px;"></i>Reset Filter(s)</BSButton>
                        <BSButton ButtonType="ButtonType.Button" Class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light" OnClick="@(() =>  ApplyFilter())">Apply Filter(s)</BSButton>
                    </span>
                </BSCollapse>
                <hr />
                <BSRow>
                    @if (Gamers?.Count > 0 && !SubmittingData)
                    {
                        @foreach (var gamer in Gamers.OrderBy(gamer => gamer.UserName))
                        {
                            <BSCol Class="col-lg-4">

                                <div class="text-center card-box">
                                    <div class="member-card pt-2 pb-2">
                                        <div class="thumb-lg member-thumb mx-auto"><img src="alt-image.png" class="rounded-circle img-thumbnail"></div>
                                        <div class="">
                                            <h4><a href="profile/@gamer.UserName">@gamer.FirstName @gamer.LastName</a></h4>
                                            <p class="text-muted" style="margin-bottom: unset;">@gamer.UserName</p>
                                            <p class="text-muted" style="margin-bottom: unset;">@gamer.Email</p>
                                            @if (FriendUserIds.Contains(gamer.UserId))
                                            {
                                                <BSButton ButtonType="ButtonType.Button" Color="Color.Light" IsDisabled="true" Class="btn mt-3 btn-rounded">Friend <i class="fas fa-smile-beam"></i></BSButton>
                                            }
                                            else if (ActiveSentFriendRequestIds.Contains(gamer.UserId))
                                            {
                                                <BSButton ButtonType="ButtonType.Button" IsDisabled="true" Class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Friend Request Sent <i class="fas fa-check"></i></BSButton>
                                                <BSButton ButtonType="ButtonType.Button" Color="Color.Link" OnClick="@(() => CancelFriendRequest(gamer.UserId))">Cancel Friend Request</BSButton>

                                            }
                                            else if (ActiveReceivedFriendRequestIds.Contains(gamer.UserId))
                                            {
                                                <BSButton ButtonType="ButtonType.Button" OnClick="@(() => AccpetFriendRequest(gamer.UserId))" Class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Accept Friend Request <i class="fas fa-check"></i></BSButton>
                                                <BSButton ButtonType="ButtonType.Button" OnClick="@(() => DeclineFriendRequest(gamer.UserId))" Color="Color.Link">Decline Friend Request</BSButton>
                                            }
                                            else
                                            {
                                                <BSButton ButtonType="ButtonType.Button" Class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light" OnClick="@(() => SendFriendRequest(gamer.UserId))">Send Friend Request</BSButton>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </BSCol>
                        }
                    }
                    else if (Gamers?.Count == 0 && !SubmittingData)
                    {
                        <p id="noResultsNotice" style="margin-left: 15px;">No results found.</p>
                    }
                    else if (SubmittingData)
                    {
                        <div class="loading-bar"></div>
                    }
                </BSRow>
            </BSCol>
        </BSRow>
    </BSContainer>
}

<style>

    .card-box {
        padding: 20px;
        border: 1px solid #dee2e6;
        border-radius: 3px;
        margin-bottom: 30px;
        background-color: #fff;
    }

    .thumb-lg {
        height: 88px;
        width: 88px;
    }

    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    .btn-rounded {
        border-radius: 2em;
    }
</style>
