@page "/manageProfile/{pageId}/"
@page "/manageProfile/{pageId}/{subPageId}"

<div>
    <div class="row">
        <div class="col-md-3">
            <BSNav IsList="true" IsVertical="true" IsPills="true">
                <BSNavItem>
                    <BSNavLink IsActive="@IsNavActive("myAccount")" Href="manageProfile/myAccount">My Account</BSNavLink>
                </BSNavItem>
                <BSNavItem>
                    <BSNavLink IsActive="@IsNavActive("changePassword")" Href="manageProfile/changePassword">Change Password</BSNavLink>
                </BSNavItem>
                <BSNavItem>
                    <BSNavLink IsActive="@IsNavActive("preferences")" Href="manageProfile/preferences">Set User Preferences</BSNavLink>
                </BSNavItem>
                <BSNavItem>
                    <BSNavLink IsActive="@IsNavActive("deleteAccount")" Href="manageProfile/deleteAccount">Delete Account</BSNavLink>
                </BSNavItem>
            </BSNav>
        </div>
        <div class="col-md-9">
            @ChildContent
        </div>
    </div>
</div>

@code {

    private string _pageId;

    [Parameter]
    public string PageId
    {
        get
        {
            return _pageId;
        }
        set
        {
            _pageId = value;
            UpdatePage();
        }
    }

    private string _subPageId;

    [Parameter]
    public string SubPageId
    {
        get
        {
            return _subPageId;
        }
        set
        {
            _subPageId = value;
            UpdatePage();
        }
    }

    public RenderFragment ChildContent { get; set; }

    void UpdatePage()
    {
        switch (PageId)
        {
            case "myAccount":
                ChildContent =@<MyAccount />;
                break;
            case "changePassword":
                ChildContent = @<ChangePassword />;
                break;
            case "preferences":
                ChildContent = @<UserPreferences PageId="@SubPageId" />;
                break;
            case "deleteAccount":
                ChildContent = @<DeleteAccount />;
                break;
            default:
                break;
            }
    }

    bool IsNavActive(string nav)
    {
        return PageId == nav;
    }

}