@page "/myProfile/"
@inherits MyProfileBase

@if (UserProfileDto != null && ActiveReceivedFriendRequests != null && !RetrievingData)
{
    <BSForm Model="@UserProfileDto">
        <BSTabGroup @ref="TabGroup">
            <BSRow>
                <BSCol Class="col-md-6">
                    <BSRow style="margin-bottom: 25px;">
                        <span style="text-align: right; display: block; width: 100%;">
                            <i style="font-size: 2em; cursor: pointer;" class="fas fa-user-cog" @onclick="@(() => NavigateToManageAccountPage())"></i>
                        </span>
                        <span style="text-align: center; display: block; width: 100%;">
                            <img src="alt-image.png" />
                        </span>
                        <span style="text-align: center; display: block; width: 100%;">
                            <BSButton id="changePhotoButton" class="btn btn-lg btn-primary" style="padding-left: unset; padding-right: unset;">
                                Change Photo - Coming Soon <i class="far fa-clock"></i>
                            </BSButton>
                        </span>
                        <h4 style="text-align: center; display: block; width: 100%; font-weight: 300;">@UserProfileDto.FirstName @UserProfileDto.LastName (@UserProfileDto.UserName)</h4>
                        <span style="text-align: center; display: block; width: 100%;">
                            <BSButton @onclick="@(() => FriendModal.Show())" style="border-color: rgb(85 88 89 / 50%);" ButtonType="ButtonType.Button" Color="Color.Light" Class="btn mt-3 btn-rounded waves-effect w-md waves-light">
                                See All Friends
                                @if (ActiveReceivedFriendRequests?.Count > 0)
                                {
                                    <BSBadge Class="btn-rounded" Color="Color.Danger">@ActiveReceivedFriendRequests.Count</BSBadge>
                                }
                            </BSButton>
                        </span>
                    </BSRow>
                    <BSTabList>
                        <BSTab @ref="TabAbout" InitialSelection="true">
                            <BSTabLabel>About</BSTabLabel>
                            <BSTabContent>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Username:</label> @UserProfileDto.UserName</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Name:</label> @UserProfileDto.FirstName @UserProfileDto.LastName</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Email Address:</label> @UserProfileDto.Email</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Date of Birth:</label> @UserProfileDto.DateOfBirth.ToShortDateString()</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Country of Residence:</label> @UserProfileDto.CountryOfResidence.Name (@UserProfileDto.CountryOfResidence.Code)</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Gender:</label> @UserProfileDto.Gender.Value</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Phone Number:</label> @UserProfileDto.PhoneNumber</p>
                                </BSRow>
                            </BSTabContent>
                        </BSTab>
                        <BSTab @ref="TabGamingPlatforms">
                            <BSTabLabel>Favorite Gaming Platforms</BSTabLabel>
                            <BSTabContent>
                                @if (UserProfileDto.GamingPlatforms != null)
                                {
                                    <BSRow>
                                        @foreach (var gamingPlatform in UserProfileDto.GamingPlatforms.OrderBy(platform => platform.Name))
                                        {
                                            <BSCol style="padding-left: 10px; padding-right: 10px; margin: 15px; min-width: 300px; max-width: 25%;">
                                                <BSMedia MediaType="MediaType.Media" style="margin-bottom: 15px;">
                                                    <BSMedia MediaType="MediaType.Image" VerticalAlignment="VerticalAlignment.Center" src="@gamingPlatform.LogoURL" style="width: 90px; height: 90px;" />
                                                    <div class="media-body" style="width: 100%;">
                                                        <h5 style="width: 100%; margin-top: 15px;">@gamingPlatform.Name</h5>
                                                        <p>@gamingPlatform.Abbreviation</p>
                                                    </div>
                                                </BSMedia>
                                            </BSCol>
                                        }
                                    </BSRow>
                                }
                            </BSTabContent>
                        </BSTab>
                        <BSTab @ref="TabGameGenres">
                            <BSTabLabel>Favorite Game Genres</BSTabLabel>
                            <BSTabContent>
                                @if (UserProfileDto.GameGenres != null)
                                {
                                    <ul style="margin: 15px;">
                                        @foreach (var gameGenre in UserProfileDto.GameGenres.OrderBy(genre => genre.Name))
                                        {
                                            <li>@gameGenre.Name</li>
                                        }
                                    </ul>
                                }
                            </BSTabContent>
                        </BSTab>
                        <BSTab @ref="TabGames">
                            <BSTabLabel>Favorite Games</BSTabLabel>
                            <BSTabContent>
                                @if (UserProfileDto.Games != null)
                                {
                                    @foreach (var game in UserProfileDto.Games.OrderBy(game => game.Name))
                                    {
                                        <BSRow style="margin-left: 15px; margin-top: 15px;">
                                            <BSMedia MediaType="MediaType.Media" style="margin-bottom: 15px;">
                                                <BSMedia MediaType="MediaType.Image" VerticalAlignment="VerticalAlignment.Center" src="@game.ImageUrl" style="width: 90px; height: 90px;" />
                                                <div class="media-body" style="width: 100%;">
                                                    <h5 style="width: 100%; margin-bottom: 0px;">@game.Name</h5>
                                                    <p style="margin: auto; width: 100%;" class="form-text text-muted">Release Date: @game.ReleaseDate.ToString("MM/dd/yyy")</p>
                                                    @if (game.GameSkillLevelId.HasValue)
                                                    {
                                                        <p style="margin: auto; width: 100%;" class="form-text text-muted">Skill Level: @game.GameSkillLevel.Name - @game.GameSkillLevel.Description</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="margin: auto; width: 100%;" class="form-text text-muted">Skill Level: N/A</p>
                                                    }
                                                </div>
                                            </BSMedia>
                                        </BSRow>
                                    }
                                }
                            </BSTabContent>
                        </BSTab>
                    </BSTabList>
                </BSCol>
            </BSRow>
            <BSRow>
                <BSCol Class="col-md-6">
                    <BSTabSelectedContent />
                </BSCol>
            </BSRow>
        </BSTabGroup>
    </BSForm>
}
else
{
    <div class="loading-bar"></div>
}

<BSModal @ref="FriendModal" IsScrollable="true" IgnoreEscape="true" IgnoreClickOnBackdrop="true" Size="Size.Large" ShowEvent="@RefreshDataModal" HideEvent="@OnHideModal">
    <BSModalHeader OnClick="@(() => FriendModal.Hide())">Friends</BSModalHeader>
    <BSModalBody><FriendPopUp @ref="FriendPopUp" /></BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Secondary" @onclick="@(() => FriendModal.Hide())">Close</BSButton>
    </BSModalFooter>
</BSModal>

<style>
    .btn-rounded {
        border-radius: 2em;
    }

    #changePhotoButton {
        text-align: center;
        position: relative;
        overflow: hidden;
        margin-top: -75px;
        width: 250px;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }
</style>