@page "/resetPassword/"
@inherits ResetPasswordBase

@if (!SubmittingData)
{
    <BSContainer>
        <BSRow>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <BSForm Model="@ResetPasswordViewModel" OnValidSubmit="ResetPassword" ValidateOnInit="false">
                        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                        {
                            <BSFormGroup>
                                <BSAlert Color="Color.Danger">
                                    @ErrorMessage
                                </BSAlert>
                            </BSFormGroup>
                        }
                        <BSFormGroup>
                            <h2>Password Reset</h2>
                        </BSFormGroup>
                        <DataAnnotationsValidator />
                        <BSFormGroup>
                            <BSLabel For="@ResetPasswordViewModel.UserName">Username</BSLabel>
                            <BSInput InputType="InputType.Text" @bind-Value="@ResetPasswordViewModel.UserName" ValidateOnChange="true" />
                            <BSFormFeedback For="@(() => ResetPasswordViewModel.UserName)" />
                        </BSFormGroup>
                        <BSFormGroup>
                            <BSLabel For="@ResetPasswordViewModel.Password">Password</BSLabel>
                            <BSInput InputType="InputType.Password" @bind-Value="@ResetPasswordViewModel.Password" ValidateOnChange="true" />
                            <BSFormFeedback For="@(() => ResetPasswordViewModel.Password)" />
                        </BSFormGroup>
                        <BSFormGroup>
                            <BSLabel For="@ResetPasswordViewModel.ConfirmPassword">Confirm password</BSLabel>
                            <BSInput InputType="InputType.Password" @bind-Value="@ResetPasswordViewModel.ConfirmPassword" ValidateOnChange="true" />
                            <BSFormFeedback For="@(() => ResetPasswordViewModel.ConfirmPassword)" />
                        </BSFormGroup>
                        <BSFormGroup>
                            <BSButton ButtonType="ButtonType.Submit" Class="btn btn-info btn-block btn-primary">Reset your password</BSButton>
                        </BSFormGroup>
                    </BSForm>
                </div>
            </div>
        </BSRow>
    </BSContainer>
}
else
{
    <div class="loading-bar"></div>
}


<style>

    form {
        margin: 0px 10px;
    }

    h2 {
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
    }

    .panel-primary {
        width: 100%;
    }

    .container {
        max-width: 450px;
    }

    .divider {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
    }

        .divider hr {
            margin: 7px 0px;
            width: 35%;
        }

    .left {
        float: left;
    }

    .right {
        float: right;
    }
</style>