@page "/profile/{userName}"
@inherits UserProfileBase

@code{
    bool IsDropdownOpen { get; set; } = false;
}

@if (UserProfileDto != null && FriendUserIds != null && ActiveSentFriendRequestIds != null && ActiveReceivedFriendRequestIds != null && !RetrievingData)
{
    <BSForm Model="@UserProfileDto">
        <BSTabGroup @ref="TabGroup">
            <BSRow>
                <BSCol Class="col-md-6">
                    <BSRow style="margin-bottom: 25px;">
                        <BSDropdown style="text-align: right; display: block; width: 100%;" IsOpen="@IsDropdownOpen">
                            <BSButton @onclick="@(() => UserFriendPopUpModal.Show())" style="border-color: rgb(85 88 89 / 50%);" ButtonType="ButtonType.Button" Color="Color.Light" Class="btn btn-rounded waves-effect w-md waves-light">
                                See All Friends
                                <i style="cursor: pointer;" class="fas fa-users"></i>
                            </BSButton>
                            @if (FriendUserIds.Contains(UserProfileDto.UserId))
                            {
                                <BSDropdownToggle @onclick="(() => { IsDropdownOpen = !IsDropdownOpen; })"><i style="cursor: pointer;" class="fas fa-ellipsis-v"></i></BSDropdownToggle>
                                <BSDropdownMenu style="right: 0; left: unset;" @bind-IsOpen="@IsDropdownOpen">
                                    <BSDropdownItem style="color: red;" IsButton="true" @onclick="@(() => UnfriendUser(UserProfileDto.UserId))"><i class="fas fa-user-minus" style="margin-right: 5px;"></i>Unfriend @UserProfileDto.UserName</BSDropdownItem>
                                </BSDropdownMenu>
                            }
                        </BSDropdown>
                        <span style="text-align: center; display: block; width: 100%;">
                            <img src="alt-image.png" />
                        </span>
                        <h4 style="text-align: center; display: block; width: 100%; font-weight: 300;">@UserProfileDto.FirstName @UserProfileDto.LastName (@UserProfileDto.UserName)</h4>
                        <span style="text-align: center; display: block; width: 100%;">
                            @if (FriendUserIds.Contains(UserProfileDto.UserId))
                            {
                                <BSButton ButtonType="ButtonType.Button" Color="Color.Light" IsDisabled="true" Class="btn mt-3 btn-rounded">Friend <i class="fas fa-smile-beam"></i></BSButton>
                            }
                            else if (ActiveSentFriendRequestIds.Contains(UserProfileDto.UserId))
                            {
                                <BSButton ButtonType="ButtonType.Button" IsDisabled="true" Class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Friend Request Sent <i class="fas fa-check"></i></BSButton>

                            }
                            else if (ActiveReceivedFriendRequestIds.Contains(UserProfileDto.UserId))
                            {
                                <BSButton ButtonType="ButtonType.Button" OnClick="@(() => AcceptFriendRequest(UserProfileDto.UserId))" Class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Accept Friend Request <i class="fas fa-check"></i></BSButton>
                            }
                            else
                            {
                                <BSButton ButtonType="ButtonType.Button" Class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light" OnClick="@(() => SendFriendRequest(UserProfileDto.UserId))">Send Friend Request</BSButton>
                            }
                        </span>
                        @if (ActiveSentFriendRequestIds.Contains(UserProfileDto.UserId) && !FriendUserIds.Contains(UserProfileDto.UserId))
                        {
                            <span style="text-align: center; display: block; width: 100%;">
                                <BSButton ButtonType="ButtonType.Button" OnClick="@(() => CancelFriendRequest(UserProfileDto.UserId))" Class="btn mt-3 btn-rounded waves-effect w-md waves-light" Color="Color.Secondary">Cancel Friend Request <i class="fas fa-times"></i></BSButton>
                            </span>
                        }
                        else if (ActiveReceivedFriendRequestIds.Contains(UserProfileDto.UserId) && !FriendUserIds.Contains(UserProfileDto.UserId))
                        {
                            <span style="text-align: center; display: block; width: 100%;">
                                <BSButton ButtonType="ButtonType.Button" OnClick="@(() => DeclineFriendRequest(UserProfileDto.UserId))" Class="btn mt-3 btn-rounded waves-effect w-md waves-light" Color="Color.Secondary">Decline Friend Request <i class="fas fa-times"></i></BSButton>
                            </span>
                        }
                    </BSRow>
                    <BSTabList>
                        <BSTab @ref="TabAbout" InitialSelection="true">
                            <BSTabLabel>About</BSTabLabel>
                            <BSTabContent>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Username:</label> @UserProfileDto.UserName</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Name:</label> @UserProfileDto.FirstName @UserProfileDto.LastName</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Email Address:</label> @UserProfileDto.Email</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Date of Birth:</label> @UserProfileDto.DateOfBirth.ToShortDateString()</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Country of Residence:</label> @UserProfileDto.CountryOfResidence.Name (@UserProfileDto.CountryOfResidence.Code)</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Gender:</label> @UserProfileDto.Gender.Value</p>
                                </BSRow>
                                <BSRow style="margin: 15px;">
                                    <p style="margin-bottom: auto;"><label style="font-weight: 600;">Phone Number:</label> @UserProfileDto.PhoneNumber</p>
                                </BSRow>
                            </BSTabContent>
                        </BSTab>
                        <BSTab @ref="TabGamingPlatforms">
                            <BSTabLabel>Favorite Gaming Platforms</BSTabLabel>
                            <BSTabContent>
                                @if (UserProfileDto.GamingPlatforms != null)
                                {
                                    <BSRow>
                                        @foreach (var gamingPlatform in UserProfileDto.GamingPlatforms.OrderBy(platform => platform.Name))
                                        {
                                            <BSCol style="padding-left: 10px; padding-right: 10px; margin: 15px; min-width: 300px; max-width: 25%;">
                                                <BSMedia MediaType="MediaType.Media" style="margin-bottom: 15px;">
                                                    <BSMedia MediaType="MediaType.Image" VerticalAlignment="VerticalAlignment.Center" src="@gamingPlatform.LogoURL" style="width: 90px; height: 90px;" />
                                                    <div class="media-body" style="width: 100%;">
                                                        <h5 style="width: 100%; margin-top: 15px;">@gamingPlatform.Name</h5>
                                                        <p>@gamingPlatform.Abbreviation</p>
                                                    </div>
                                                </BSMedia>
                                            </BSCol>
                                        }
                                    </BSRow>
                                }
                            </BSTabContent>
                        </BSTab>
                        <BSTab @ref="TabGameGenres">
                            <BSTabLabel>Favorite Game Genres</BSTabLabel>
                            <BSTabContent>
                                @if (UserProfileDto.GameGenres != null)
                                {
                                    <ul style="margin: 15px;">
                                        @foreach (var gameGenre in UserProfileDto.GameGenres.OrderBy(genre => genre.Name))
                                        {
                                            <li>@gameGenre.Name</li>
                                        }
                                    </ul>
                                }
                            </BSTabContent>
                        </BSTab>
                        <BSTab @ref="TabGames">
                            <BSTabLabel>Favorite Games</BSTabLabel>
                            <BSTabContent>
                                @if (UserProfileDto.Games != null)
                                {
                                    @foreach (var game in UserProfileDto.Games.OrderBy(game => game.Name))
                                    {
                                        <BSRow style="margin-left: 15px; margin-top: 15px;">
                                            <BSMedia MediaType="MediaType.Media" style="margin-bottom: 15px;">
                                                <BSMedia MediaType="MediaType.Image" VerticalAlignment="VerticalAlignment.Center" src="@game.ImageUrl" style="width: 90px; height: 90px;" />
                                                <div class="media-body" style="width: 100%;">
                                                    <h5 style="width: 100%; margin-bottom: 0px;">@game.Name</h5>
                                                    <p style="margin: auto; width: 100%;" class="form-text text-muted">Release Date: @game.ReleaseDate.ToString("MM/dd/yyy")</p>
                                                    @if (game.GameSkillLevelId.HasValue)
                                                    {
                                                        <p style="margin: auto; width: 100%;" class="form-text text-muted">Skill Level: @game.GameSkillLevel.Name - @game.GameSkillLevel.Description</p>
                                                    }
                                                    else
                                                    {
                                                        <p style="margin: auto; width: 100%;" class="form-text text-muted">Skill Level: N/A</p>
                                                    }
                                                </div>
                                            </BSMedia>
                                        </BSRow>
                                    }
                                }
                            </BSTabContent>
                        </BSTab>
                    </BSTabList>
                </BSCol>
            </BSRow>
            <BSRow>
                <BSCol Class="col-md-6">
                    <BSTabSelectedContent />
                </BSCol>
            </BSRow>
        </BSTabGroup>
    </BSForm>
}
else
{
    <div class="loading-bar"></div>
}

<BSModal @ref="UserFriendPopUpModal" IsScrollable="true" IgnoreEscape="true" IgnoreClickOnBackdrop="true" Size="Size.Large" ShowEvent="@RefreshDataModal" HideEvent="@OnHideModal">
    <BSModalHeader OnClick="@(() => UserFriendPopUpModal.Hide())">Friends</BSModalHeader>
    <BSModalBody><UserFriendPopUp @ref="UserFriendPopUp" /></BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Secondary" @onclick="@(() => UserFriendPopUpModal.Hide())">Close</BSButton>
    </BSModalFooter>
</BSModal>

<style>
    .btn-rounded {
        border-radius: 2em;
    }
</style>